body {
    background-color: #efefef;
}

.main {
    background-color: white;
    margin: 30px;

}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.media-object {
    width: 38px;
    height: 38px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;

}

.customize-media-body {
    padding-top: 10px;
}

.profile .section {
    margin-top: 15px;
}

.community-menu {
    color: #999;
    font-size: 13px;
}

.btn-comment {
    float: right;
    margin-bottom: 10px;
    margin-top: 10px;
}

.add-margin {
    margin: 10px;
}

.menu {
    color: #999;
}

.menu .icon {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon {
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon:hover {
    color: #499ef3;
}

.menu .active {
    color: #499ef3;
}
.menu .icon:hover {
    color: #499ef3;
}

.comments {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}

.sub-comments {
    border-radius: 5px;
    border: 1px solid #eee;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-top: 15px;
}

.question-tag {
    margin-right: 5px;
}

.question-related {
    line-height: 20px;
    margin-left: 0;
    list-style: none;
    padding-left: 0;
}

.question-hot {
    line-height: 20px;
    margin-left: 0;
    list-style: none;
    padding-left: 0;
}

.question-wechat {
    width: 100%;
}

.publish-tag-tab {
    display: none;
    margin-top: 10px;
}

.publish-tag-tab .label-info {
    white-space: normal;
    padding: 5px;
    margin: 5px 5px;
    display: inline-block;
}

.footer {
    padding: 25px 25%;
    color: #666;
}

/*蒲公英*/
@media screen and (max-width: 600px) {
    .dandelion {
        display: none !important;
    }
}

.dandelion .smalldan {
    width: 36px;
    height: 60px;
    left: 21px;
    background-position: 0 -90px;
    border: 0 solid red;
}

.dandelion span {
    -webkit-animation: ball-x 3s linear 2s infinite;
    -moz-animation: ball-x 3s linear 2s infinite;
    animation: ball-x 3s linear 2s infinite;
    -webkit-transform-origin: bottom center;
    -moz-transform-origin: bottom center;
    transform-origin: bottom center;
}

.dandelion span {
    display: block;
    position: fixed;
    z-index: 9999999999;
    bottom: 0;
    background-image: url(https://www.seoblogs.cn/images/pgy.png);
    background-repeat: no-repeat;
    _background: none;
}

.dandelion .bigdan {
    width: 64px;
    height: 115px;
    left: 47px;
    background-position: -86px -36px;
    border: 0 solid red;
}

@keyframes ball-x {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(5deg);
    }
    40% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(-5deg);
    }
    80% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@-webkit-keyframes ball-x {
    0% {
        -webkit-transform: rotate(0deg);
    }
    20% {
        -webkit-transform: rotate(5deg);
    }
    40% {
        -webkit-transform: rotate(0deg);
    }
    60% {
        -webkit-transform: rotate(-5deg);
    }
    80% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@-moz-keyframes ball-x {
    0% {
        -moz-transform: rotate(0deg);
    }
    20% {
        -moz-transform: rotate(5deg);
    }
    40% {
        -moz-transform: rotate(0deg);
    }
    60% {
        -moz-transform: rotate(-5deg);
    }
    80% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(0deg);
    }
}


